#block1{
    background-color:#ff9900;
    padding:10px;
    margin:20px;
}

#block2{
    background-color:#339933;
    padding:10px;
    margin:30px 50px;
    width:200px;
}

#block3{
    border:#000000 solid;
    padding:10px;
    margin:10px 20px 30px 40px;
    background-color:#808080;
}